{{!-- THIS STUFF GETS INHERITED BY EVERY SINGLE HTML PAGE --}}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/public/css/styles.css" />
  </head>

  <nav id="navbar-container">
    <div id="navbar-logo">
        <a href="/">Tracklete</a>
    </div>
    <ul id="navbar-links-container">
        <li class="navbar-links"><a href="/">Home</a></li>
        <li class="navbar-links"><a href="/feedPage">Feed</a></li>
        <li class="navbar-links"><a href="/leaderboardPage">Leaderboard</a></li>
        <li class="navbar-links"><a href="/workoutsPage">Workouts</a></li>
        <li class="navbar-links"><a href="/progressPage">Progress</a></li>
        <li class="navbar-links"><a href="/profilePage">Profile</a></li>        
    </ul>
  </nav>

  <body>
    {{{body}}}
  </body>

</html>