<div class="container">
    <div class="row">
        <div align="center">
            <h1>Service unavailable</h1>
            <h2>Http Error 504</h2>
            <p>
                The server is temporarily unavailable.
                Please try again later.
            </p>
        </div>
    </div>
</div>