{{!-- THIS IS OUR HOMEPAGE/LANDINGPAGE --}}

<div id="container"> 
    <h1> Welcome to Tracklete Homepage</h1>
    <p>Great tool for athletes to organize their training plans and Progress
    </p>

    <a href="/register" role="button" class="btn btn-primary">Register</a>
    <a href="/login" role="button" class="btn btn-light">Log In</a>
</div>