{{!-- THIS IS OUR HOMEPAGE/LANDINGPAGE --}}

<div id="container"> 
    <h1> Welcome to Tracklete Homepage</h1>
    <p>Great tool for athletes to organize their training plans and Progress
    </p>

    <a href="/register" role="button" class="btn btn-primary">Register</a>
    <a href="/login" role="button" class="btn btn-light">Log In</a>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/public/js/edit-profile.js"></script>