{{!-- THIS IS OUR HOMEPAGE/LANDINGPAGE --}}

<div id="container"> 
    <h1> Welcome to Tracklete Homepage</h1>
    <h2>Great tool for athletes to organize their training plans and Progress
    </h2>
    <a href="/leaderboard">Click here to see Leaderboard</a><br>
    <a href="/workouts">Click here to see Workout</a><br>


    <h2>Please register or log in to see more details</h2>
    <a href="/register" role="button" class="btn">Register</a><br>
    <a href="/login" role="button" class="btn">Log In</a><br>
    <a href="/logout" role="button" class="btn">Log out</a><br>
</div>

