<!DOCTYPE htl>
<title>Tracklete | Profile</title>

<main>
    <body>
        <div id="profile-container">
            <div id="profile-personal-container">
                <div id="profile-personal-fullname">Zack Rimshnick</div>
                <button id="profile-personal-edit-button">Edit Profile</button>
                <div id="profile-personal-username">@zrimshni25</div>
                <div id="profile-personal-meta-container">
                    <div id="profile-personal-meta-age">
                        21
                    </div>
                    <div id="profile-personal-meta-weight">
                        180lbs
                    </div>
                </div>
                <div id="profile-personal-meta-sports">
                    Baseball
                </div>
            </div>
            <div id="profile-posts-container">
                <h1>Posts</h1>
                <div id="profile-posts">
                    <div class="profile-post">
                        <div class="profile-post-title">Post 3</div>
                        <div class="profile-post-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus cupiditate odit consequatur! Omnis nemo praesentium nesciunt aperiam voluptate accusamus. Deserunt eaque laborum sunt minima dolore aperiam commodi reprehenderit, doloribus maxime!</div>
                        <div class="profile-post-likes">
                            1,831 likes
                        </div>
                        <div class="profile-post-caption-container">
                            <div class="profile-post-caption-username">zrimshni25</div>
                            <div class="profile-post-caption-content">First workout of the year!</div>
                        </div>
                        <div class="profile-post-comments-placeholder">
                            View 4 comments
                        </div>
                    </div>
                    <div class="profile-post">
                        <div class="profile-post-title">Post 2</div>
                        <div class="profile-post-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus cupiditate odit consequatur! Omnis nemo praesentium nesciunt aperiam voluptate accusamus. Deserunt eaque laborum sunt minima dolore aperiam commodi reprehenderit, doloribus maxime!</div>
                    <div class="profile-post-likes">
                            1,232 likes
                        </div>
                        <div class="profile-post-caption-container">
                            <div class="profile-post-caption-username">zrimshni25</div>
                            <div class="profile-post-caption-content">New PR!</div>
                        </div>
                        <div class="profile-post-comments-placeholder">
                            View 2 comments
                        </div>
                    </div>
                    <div class="profile-post">
                        <div class="profile-post-title">Post 1</div>
                        <div class="profile-post-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus cupiditate odit consequatur! Omnis nemo praesentium nesciunt aperiam voluptate accusamus. Deserunt eaque laborum sunt minima dolore aperiam commodi reprehenderit, doloribus maxime!</div>
                        <div class="profile-post-likes">
                            898 likes
                        </div>
                        <div class="profile-post-caption-container">
                            <div class="profile-post-caption-username">zrimshni25</div>
                            <div class="profile-post-caption-content">Another great workout!</div>
                        </div>
                        <div class="profile-post-comments-placeholder">
                            View 8 comments
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</main>