<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<div class="progressContainer">
    <h1>Progress Page</h1>

    <div>
        <canvas id="progressChart"></canvas>
    </div>

    <script>
        let item_data = [];
        let labels = [];
        let workoutElements = document.querySelectorAll('.workouts-workout-individual');

        workoutElements.forEach((workoutElement) => {
            let dateElement = workoutElement.querySelector(".workouts-workout-date");
            let calorieElement = workoutElement.querySelector(".workouts-workout-cals");

            if (dateElement && calorieElement) {
                let date = dateElement.value; // Assuming value contains the date in a suitable format
                let calories = parseInt(calorieElement.textContent);

                labels.push(date);
                item_data.push(calories);
            }
        });

        const data = {
            labels: labels,
            datasets: [{
                label: 'Calories Burned',
                data: item_data
            }]
        };

        const config = {
            type: 'line',
            data: data,
            options: {
                plugins: {
                    legend: {
                        display: false
                    },
                    title: {
                        display: true,
                        text: ''
                    }
                }
            }
        };

        const chart = new Chart(
            document.getElementById('progressChart'),
            config
        );
    </script>
</div>
<script src="/public/js/workoutPage-client.js"></script>