<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<div class="progressContainer">
    <h1>Progress Page</h1>

    <div>
        <canvas id="progressChart"></canvas>
    </div>

    <script>
        let item_data = [];
        let labels = [];
        let workoutElements = document.querySelectorAll('.workouts-workout-individual');

        const data = {
            labels: labels,
            datasets: [{
                label: '',
                data: item_data
            }]
        };

        const config = {
            type: 'line',
            data: data,
            options: {
                plugins: {
                    legend: {
                        display: false
                    },
                    title: {
                        display: true,
                        text: ''
                    }
                }
            }
        };

        const chart = new Chart(
            document.getElementById('progressChart'),
            config
        );
    </script>
</div>
<script src="/public/js/workoutPage-client.js"></script>